.ui-resizable-e{
    background-image: none;
    background-color: #333;
    width: 5px;
}
#header{
    border-bottom: 5px solid #333;
    height: 20px;
    padding: 20px;
}
#titlearea{
    border-bottom: none;
}
#MSearchBox{
    margin-top: -45px;
    margin-right: 50px;
}
#MSearchField{
    margin-top:0px;
}

#side-nav{
    padding: 0px 5px 0 0;
}

#nav-tree .selected {
    background-image: none;
    background-color: #507AAA;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    padding-bottom: 3px;
}
.title{
    font-size: 40px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.textbloc{
    margin-left: 50px;
}
div.contents {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
}
.modulelink{
    width: 70px;
    height: 45px;
    background-color:#DDDDDD;
    border-radius: 20px;
    color: black;
    font-size: 24px;
    padding: 50px;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 20px;
    padding-top:70px;
    border: 2px solid #333;
    box-shadow: 3px 3px 13px #666;
    
}
.modulelink:hover{
    background-color:#507AAA;
    color: white;
}
.modulelink:hover a{
    color: white;
}

h1{
    margin-bottom: 20px;
}
p{
    margin: 0px;
}
pre.fragment{
    margin-bottom: 10px;
}

.contents h1{
    padding: 0px;
    margin: 40px 0 15px 0;
    font-size: 30px;
}

.contents h2{
    padding: 0px;
    margin: 30px 0 10px 0;
}

.contents h3{
    padding: 0px;
    margin: 18px 0 10px 0;
}